# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=fastify_template

# Prisma
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=public"

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=your_password
EMAIL_FROM=noreply@example.com
EMAIL_SERVICE=outlook


# JWT Secret
JWT_SECRET='String strong'
# Number of days after which a refresh token expires
JWT_ACCESS_EXPIRATION_DAYS=15
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=15